.Pagination{
    user-select:none;
}
.CtrlPanel{
    padding: 12px;
    display: flex;
    justify-content: center;
}
.Ctrl{
    margin: 0 0 12px 12px;
}
.ItemBox{
    display: inline-flex;
    user-select:none;
}
.Item{
    cursor: pointer;
    margin: 0 4px;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
}
.Item.disabled{
    cursor: default;
}
.Item.active{
    cursor: default;
    color: whitesmoke;
    background-color: #27ae60;
}
.Item:hover{
    color: whitesmoke;
    background-color: limegreen;
}
.Jump{
    padding: 5px;
    min-width: 80px;
    box-sizing: border-box;
}
.Select{
    padding: 5px;
    box-sizing: border-box;
}
