.App {
  text-align: center;
}

.Content {

}

.Button{
  cursor: pointer;
  text-align: center;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 18px;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 2.55555556;
  border-radius: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.Button.green{
  background-color: #27ae60;
}

.DataTable {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding:5px;
  width: 100%;
  overflow-x: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
.DataTable th{
  font-weight: 900;
  background: #27ae60;
  color:#FFFFFF;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #FFFFFF;
  font-size:24px;
  padding:12px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.DataTable tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.DataTable tr:nth-child(odd) td {
  background:#EBEBEB;
}

.DataTable tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

.DataTable td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.ColumnSelector {
  padding-top: 12px;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
}
.ColumnSelector .Label{
  white-space : nowrap;
  margin-bottom: 12px;
}
.ColumnSelector .Selectors{
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
}
.ColumnSelector .Selector {
  margin: 0 0 12px 12px;
  padding: 0 12px;
  line-height: 2;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.Pagination{
  user-select:none;
}
.Pagination .CtrlPanel{
  padding: 12px;
  display: flex;
  justify-content: center;
}
.Pagination .CtrlPanel .Ctrl{
  margin: 0 0 12px 12px;
}
.Pagination .ItemBox{
  display: inline-flex;
  user-select:none;
}
.Pagination .ItemBox .Item{
  cursor: pointer;
  margin: 0 4px;
  text-align: center;
}
.Pagination .ItemBox .Item{
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
}
.Pagination .ItemBox .Item.disabled{
  cursor: default;
}
.Pagination .ItemBox .Item.active{
  cursor: default;
  color: whitesmoke;
  background-color: #27ae60;
}
.Pagination .ItemBox .Item:hover{
  color: whitesmoke;
  background-color: limegreen;
}
.Pagination .Jump{
  padding: 5px;
  min-width: 80px;
  box-sizing: border-box;
}
.Pagination .Select{
  padding: 5px;
  box-sizing: border-box;
}

.Panel{

}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Panel .Header {
  position: relative;
  border-bottom: 1px solid white;
  font-weight: 900;
  color:#FFFFFF;
  font-size:24px;
  background-color: #27ae60;
}
.Panel .Header input[type=checkbox]{
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  clip: rect(0, 0, 0, 0);
  visibility: hidden;
  opacity: 0;
  transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  z-index: -1;
}
.Panel .Header label {
  user-select: none;
  display: flex;
  padding: 1rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.Panel .Header label .Icon {
  margin-left: auto;
  transition: transform 0.3s ease-in-out;
}
.Panel .chevron::before {
  content: "";
  display: inline-block;
  width: 0.45rem;
  height: 0.45rem;
  border-style: solid;
  border-width: 0.25rem 0.25em 0 0;
  transform: rotate(135deg);
}
.Panel .Body {
  max-height: 0;
  border-right: 1px solid #27ae60;
  border-left: 1px solid #27ae60;
  border-bottom: 1px solid #27ae60;
  overflow: hidden;
  transition: max-height 1s cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
.Panel .Body .Content{
  padding: 24px;
}
.Panel.active .Header {
  border-bottom: none;
}
.Panel.active .Header label .Icon {
  transform: rotate(-180deg);
}
.Panel.active .Body {
  max-height: 9999px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
}
.Panel.active .Body .Content {
  animation: fade 0.3s linear;
}

.Search {
  display: inline-flex;
  margin-bottom: 12px;
  user-select:none;
}
.Search .Wrap{
  position: relative;
}
.Search .Wrap .Icon{
  position: absolute;
  left: 5px;
  top: 5px;
}
.Search .Wrap .SearchData{
  padding: 5px 5px 5px 28px;
  min-width: 80px;
  box-sizing: border-box;
}
.Search .Select{
  padding: 5px;
  box-sizing: border-box;
}